body {
    background-color: black;
}

/* Set the text color of the labels under the controls div to white. */
.controls label {
    color: white;
    margin: auto;
}

.white {
    color: white;
}

canvas {
    display: block;
    max-width: 800px;
    max-height: 800px;
    margin: auto;
}

.controls {
    display: flex;
    flex-direction: row; /* Stack buttons */
    gap: 1rem; /* Ensures spacing */
    color: white;
}
.inputs > label {
    margin: 0 1rem; /* Adjust spacing between labels */
    font-size: 1.2rem; /* Adjust font size for better readability */
    color: white;
}

.inputs > input {
    max-width: 3rem;;
}

.buttons button {
    min-width: 3rem;
    min-height: 3rem;
    padding: 12px 20px; /* Adds extra tap area */
    border-radius: 5px; /* Rounded corners for better UX */
    border: none;
    background-color: #87C544; /* Example color */
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    gap: 1rem; /* Ensures spacing */
    margin: auto;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inputs .buttons {
    display: flex;
    flex-direction: row; /* Stack buttons */
    gap: 1rem; /* Ensures spacing */
}

.mobile-controls {
    display: flex;
    flex-direction: row; /* Stack buttons */
    gap: 1rem; /* Ensures spacing */
}

.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 1rem;
    margin-top: 3rem;
}

button {
    min-width: 6rem;
    min-height: 6rem;
    padding: 12px 20px; /* Adds extra tap area */
    border-radius: 8px; /* Rounded corners for better UX */
    border: none;
    background-color: #87C544; /* Example color */
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-size: 2rem;
}
