
<!--
<h2 id="about">
    {% t about_page.title %}
</h2>
-->

<!-- Who is Dwengo -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t about_page.who %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="/images/about/artbot.jpg">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>{% t about_page.changing_the_future %}</h4>
                    <p class="text-justify">{% t about_page.changing_the_future_body %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>{% t about_page.our_history %}</h4>
                    <p class="text-justify">{% t about_page.our_history_body %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our commitment -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 commitment">
            <h3 class="mb-5">{% t about_page.commitment %}</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="number-circle"><strong>1</strong></div>
                    <p class="mt-3"><strong>{% t about_page.commitment_column_1 %}</strong></p>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="number-circle"><strong>2</strong></div>
                    <p class="mt-3"><strong>{% t about_page.commitment_column_2 %}</strong></p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="number-circle"><strong>3</strong></div>
                    <p class="mt-3"><strong>{% t about_page.commitment_column_3 %}</strong></p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="number-circle"><strong>4</strong></div>
                    <p class="mt-3"><strong>{% t about_page.commitment_column_4 %}</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our mission -->
<section class="section mt-5 md-5 pt-5 pb-5 lighten bg-image bg-color">
    <div class="row mission pt-4 pb-4">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3>{% t about_page.mission %}</h3>
            <h4>{% t about_page.mission_subtitle %}</h4>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt="" class="values" /></p>
                    <p class="p-counting"><strong>4</strong></p>
                    <p class="font-weight-bold">{% t about_page.mission_column_1 %}</p>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt="" class="values" /></p>
                    <p class="p-counting"><strong>15,000</strong></p>
                    <p class="font-weight-bold">{% t about_page.mission_column_2 %}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt="" class="values" /></p>
                    <p class="p-counting"><strong>1000+</strong></p>
                    <p class="font-weight-bold">{% t about_page.mission_column_3 %}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <p><img src="" alt="" class="values" /></p>
                    <p class="p-counting"><strong>100%</strong></p>
                    <p class="font-weight-bold">{% t about_page.mission_column_4 %}</p>
                </div>
            </div>    
        </div>
    </div>
</section>

<!-- Our vision -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t about_page.vision %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><b>{% t about_page.vision_subtitle %}</b></p>
                    <p class="text-justify">{% t about_page.vision_body %}</p>
                    <ul>
                        <li>{% t about_page.vision_list_1 %}</li>
                        <li>{% t about_page.vision_list_2 %}</li>
                        <li>{% t about_page.vision_list_3 %}</li>
                        <li>{% t about_page.vision_list_4 %}</li>
                        <li>{% t about_page.vision_list_5 %}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <img src="/images/about/robot.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>
