<div class="container kiks-research cover-width">
    <div class="q-px-xl q-pb-xl">
<!--
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <h6 class="kiks_subtitle">{% t socialrobot.title %}</h6>
             <div class="marked">
                <p>{% t socialrobot.titlep1 %}</p>
                <p>{% t socialrobot.titlep2 %}</p>
                <p>{% t socialrobot.titlep3 %}</p>
                <br>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/socialrobot/SR_highfive.png" class="full-width"></div>
       </div>
      -->       
<!--
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_pot.svg" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t socialrobot.subtitle1 %}</h6>
             <p>{% t socialrobot.subtitle1p1 %}</p>
             <p>{% t socialrobot.subtitle1p2 %}</p>
             <p>{% t socialrobot.subtitle1p3 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_simulator.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t socialrobot.subtitle2 %}</h6>
             <p>{% t socialrobot.subtitle2p1 %}</p>
             <p>{% t socialrobot.subtitle2p2 %}</p>
             <p>{% t socialrobot.subtitle2p3 %}</p>
             <p>{% t socialrobot.subtitle2p4 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_ct.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t socialrobot.subtitle3 %}</h6>
             <p>{% t socialrobot.subtitle3p1 %}</p>
             <p>{% t socialrobot.subtitle3p2 %}</p>
             <p>{% t socialrobot.subtitle3p3 %}</p>
             <p>{% t socialrobot.subtitle3p4 %}</p>
          </div>
       </div>
      -->
       <div class="row q-col-gutter-xl q-my-xl">
             <div class="col-12 col-md">
               <div class="rounded-borders q-video q-video--responsive"><iframe width="1056" height="594" src="https://www.youtube.com/embed/EsYs4k41U6w" title="Sociale robot" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
             </div>
       </div>
    </div>
 </div>