<h3 class="fp_subtitle">{% t kiks.title1 %}</h3>
<div class="container kiks-research cover-width">
    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-6">
             <img src="/images/aiopschool/ai.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t aiopschool.subtitle1 %}</h6>
             <p>{% t aiopschool.subtitle1p1 %}</p>
             <p>{% t aiopschool.subtitle2p2 %}</p>
          </div>
          <div class="col-12 col-md-6">
             <img src="/images/aiopschool/leerplandoelen.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t aiopschool.subtitle2 %}</h6>
             <p>{% t aiopschool.subtitle2p1 %}</p>
             
          </div>
       </div>
    </div>
 </div>