<div class="row q-col-gutter-xl q-my-xl">
   <div class="col-12 col-md">
      <div class="iframe-container iframe-16-9">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/5wj9vkcgP5E?si=Kar6VovtO3dnzJYn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
   </div>
</div>

<h3 class="fp_subtitle">{% t chatbot.title %}</h3>
<div class="container kiks-research cover-width">



    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <div class="marked">
                <p>{% t chatbot.titlep1 %}</p>
                <p>{% t chatbot.titlep2 %}</p>
                <br>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/chatbot/WetOndTaal.png" class="full-width"></div>
       </div>
       
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <img src="/assets/images/chatbot/ai.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t chatbot.subtitle1 %}</h6>
             <p>{% t chatbot.subtitle1p1 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/chatbot/chatbot.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t chatbot.subtitle2 %}</h6>
             <p>{% t chatbot.subtitle2p1 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/chatbot/sentimentanalyse.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t chatbot.subtitle3 %}</h6>
             <p>{% t chatbot.subtitle3p1 %}</p>
          </div>
       </div>
       <div class="row q-col-gutter-xl q-my-xl">
         <div class="col-12 col-md">
            <div class="iframe-container iframe-16-9">
               <iframe width="1056" height="594" src="https://www.youtube.com/embed/q2-lQUccfB4" title="Chatbot" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
       </div>
    </div>
 </div>