<h3 class="fp_subtitle">{% t computational_thinking.title %}</h3>
<div class="container kiks-research cover-width">
    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <div class="marked">
               <p>{% t computational_thinking.titlep1 %}</p>
               <p>{% t computational_thinking.titlep2 %}</p>
                <br>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/computational_thinking/ct.png" class="full-width"></div>
       </div>
       <div class="row q-col-gutter-xl q-my-xl">
         <div class="col-12 col-md">
            <div class="iframe-container iframe-16-9">
               <iframe width="1056" height="594" src="https://www.youtube.com/embed/Nifa0vooyKg" title="Computationeel denken en programmeren in een STEM context" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
       </div>
    </div>
 </div>
</div>