<div class="container">

   <h3 class="fp_subtitle alert alert-box alert-danger">{% t computational_thinking.disc %}</h3>

<!-- video -->


   <div class="row q-col-gutter-xl q-my-xl">
      <div class="col-12 col-md">
         <div class="iframe-container iframe-16-9">
            <iframe width="1056" height="594" src="https://www.youtube.com/embed/Nifa0vooyKg" title="Computationeel denken en programmeren in een STEM context" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>
   </div>

<!-- summary-->
<!--
   <div class="row q-col-gutter-xl items-center justify-between">
      <div class="col-12 col-md-8 col-lg-7">
         <div class="marked">
            <p>{% t computational_thinking.summary %}</p>
            <br>
         </div>
      </div>

      <div class="col-12 col-md-4 text-center"><img src="/assets/images/chatbot/WetOndTaal.png" class="full-width">
      </div>
   </div>
-->
<!-- deliverables -->

   <h4 class="project_title">{% t computational_thinking.title1 %}</h4>
   <p>{% t computational_thinking.title1_p %}</p>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t1_subtitle1 %}</h5>
         <p>{% t computational_thinking.t1_p1 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t1_subtitle2 %}</h5>
         <p>{% t computational_thinking.t1_p2 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t1_subtitle3 %}</h5>
         <p>{% t computational_thinking.t1_p3 %}</p>
      </div>        
   </div>


<!-- objectives & goals-->

   <h4 class="project_title">{% t computational_thinking.title2 %}</h4>
   <p>{% t computational_thinking.title2_p %}</p>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t2_subtitle1 %}</h5>
         <p>{% t computational_thinking.t2_p1 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t2_subtitle2 %}</h5>
         <p>{% t computational_thinking.t2_p2 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/images/curricula/placeholder.png" class="project_icon project_icon-max">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t2_subtitle3 %}</h5>
         <p>{% t computational_thinking.t2_p3 %}</p>
      </div>        
   </div>
   

<!-- technical details-->
<!--
   <h4 class="project_title">{% t computational_thinking.title3 %}</h4>
   <p>{% t computational_thinking.title3_p %}</p>
   <div class="d-flex">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t3_subtitle1 %}</h5>
      </div>        
   </div>
   <div class="d-flex">
      <div>
         <h5 class="project_subtitle">{% t computational_thinking.t3_subtitle2 %}</h5>
      </div>        
   </div>
-->
</div>