<div class="container schedule">
   <h2>Programmatie conferentie</h2>

   <h3 class="time-slot mt-4">9.00 - 9.30</h3>
   <div class="session session-1 track-1">
      <h4 class="session-title"><a href="#">Onthaal</a></h4>
   </div>

   <h3 class="time-slot mt-4">9.30 - 10.50</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Verwelkoming en keynotes</a></h4>
      <span class="session-track bolder">iSTEM – als STEM en computationeel denken elkaar versterken</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Marie-Paule Buyse (KULeuven)</span>
      <p>iSTEM Inkleuren is een samenwerking tussen verschillende hogescholen en universiteiten met als doel het ondersteunen van leerkrachten en directies van secundaire scholen in goed STEM-onderwijs. De activiteiten omvatten coaching van teams in het vormgeven van STEM-leerlijnen en STEM-projecten, professionalisering van leerkrachten(teams) over specifieke STEM-gerelateerde thema’s en het verspreiden van inspirerend materiaal. Centraal in de iSTEM-didactiek is het probleemoplossend denken – een opstap naar computationeel denken in meerdere projecten.</p>
      <span class="session-track bolder">Computationeel denken met Bebras</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Kris Coolsaet (UGent)</span>
      <p></p>
   </div>
   
   <h3 class="time-slot mt-4">10.50 - 11.20</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Pauze</a></h4>
   </div>

   <h3 class="time-slot mt-4">11.20 - 12.50</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Keuzeworkshop 1</a></h4>
      <span class="session-track bolder">Basisconcepten computationeel denken concreet in de klas</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Tom Neutens (Dwengo vzw) & Francis wyffels (UGent)</span>
      <p>Deze workshop zet leerkrachten op weg bij  het integreren van computationeel denken in hun klaspraktijk. Computationeel denken omvat een reeks vaardigheden en denkprocessen die relevant zijn voor verschillende vakgebieden en die belangrijk zijn voor de ontwikkeling van probleemoplossend vermogen bij leerlingen. Tijdens deze workshop zullen we de basisconcepten van computationeel denken bespreken en praktische voorbeelden geven van hoe deze concepten concreet in de klas kunnen worden toegepast.</p>
      <span class="session-track bolder">De leerlingenmachine: een toepassing van computationeel denken a.d.h.v. sturingen</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Stijn Ceuppens (KULeuven)</span>
      <p>In deze workshop maak je kennis met ‘de leerlingenmachine’ en gaan we er mee aan de slag. Dit is een klassikale activiteit waarin de leerlingen op een leuke manier kennismaken met logische instructies en de manier waarop een computer die interpreteert. Een gepaste oefening om de basis te leggen voor sturing, programmeren, logica en computationeel denken. Ze leren denken in termen van sensoren, input, logica, acties, actuatoren en output. De doelgroep is vooral 1e of 2e graad maar zou zelfs voor het lager onderwijs kunnen dienen mits enkele aanpassingen. Als leerkracht kan je ook gemakkelijk je eigen versie maken van deze leerlingemachine zodat het haalbaar is in jouw klaslokaal!</p>
      <span class="session-track bolder">iSTEM evaluatie</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Marie-Paule Buyse (KULeuven)</span>
      <p>STEM-projecten evalueren is voor iedereen moeilijk. Wat moet je evalueren? Hoe moet je evalueren? Hoe hou je de werklast onder controle? Hoe rapporteer je?
         De cel iSTEM inkleuren heeft een evaluatie-instrument uitgewerkt voor STEM-projecten en wil je enkele handvaten aanreiken om een haalbare, transparante en efficiënte manier van evaluatie uit te werken voor jouw STEM-project.
         In deze nascholing maak je uitgebreid kennis met het evaluatie-instrument. Je past het toe op jouw eigen STEM-project.</p>
      <span class="session-track bolder">Reflections on the development of abstraction in Scratch</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Gregorio Robles (Universidad Rey Juan Carlos)</span>
      <p>We have found that in many Scratch programs, esp. in the advanced ones there is a lot of cut and paste and no custom blocks (the functions in Scratch), hindering the development of abstraction that would be desirable. There are systemic, but also educational reasons for this which will be presented and discussed. This is a talk oriented to educators who teach with Scratch; no further knowledge of programming is required.</p>
      <span class="session-track bolder">STEM-concepten</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Michiel Six en Reinout Putman (Arteveldehogeschool)</span>
      <p>Wat zijn die STEM-concepten? Wat doe je ermee? Hoe breng je die in de klas? Aan de hand van een aantal interactieve opdrachten wordt didactisch materiaal uitgewerkt dat meteen inzetbaar is.</p>
   </div>
      
   <h3 class="time-slot mt-4">12.50 - 14.00</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Lunch</a></h4>
   </div>

   <h3 class="time-slot mt-4">13.30 - 14.00</h3>
   <div class="session session-1 track-1">
      <h4 class="session-title"><a href="#">Onthaal deelnemers namiddag</a></h4>
   </div>

   <h3 class="time-slot mt-4">14.00 - 15.20</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Verwelkoming en keynotes</a></h4>
      <span class="session-track bolder">Fostering AI at Schools</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Liliana Carrillo (CollectiveUP), Gregorio Robles (Universidad Rey Juan Carlos)</span>
      <p></p>
      <span class="session-track bolder">Fostering AI at Schools en AI for Inclusive Education'</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Liliana Carrillo (CollectiveUP) en Yann-Aël (La Scientotheque)</span>
      <p></p>
      <span class="session-track bolder">De ontwikkelingen en de uitdagingen van AI in de journalistiek'</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Hannes Cools (UAmsterdam)</span>
      <p>Artificiële intelligentie mag zich stilaan mainstream noemen, zo ook in de journalistiek. Door de toegenomen ‘dataficering’ van de wereld waarin we leven, komen journalisten en nieuwsbedrijven meer en meer in aanraking met data. In het eerste deel wordt een overzicht gegeven van ontwikkelingen en toepassingen binnen de journalistiek, van het verzamelen van nieuws tot het produceren en het verspreiden ervan. In het tweede deel worden drie uitdagingen of dilemma’s naar voren geschoven; een structurele, een ethische, en een juridische die tot op heden onderbelicht blijven in het debat rond AI in de journalistiek.</p>
   </div>

   <h3 class="time-slot mt-4">15.20 - 15.50</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Pauze</a></h4>
   </div>

   <h3 class="time-slot mt-4">15.50 - 17.20</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Keuzeworkshop 2</a></h4>
      <span class="session-track bolder">AI in de landbouw (InnoVET, AI Op School)</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Bruno Hulders (Richtpunt campus Hamme), Melissa Benoit (PTI Kortrijk) en Tom Neutens (Dwengo vzw)</span>
      <p>In dit InnoVET-project gingen twee technische scholen samen aan de slag. Het project heeft als doel dat leerlingen inzien hoe artificiële intelligentie kan ingezet worden in de land- en tuinbouw. Je maakt kennis met de mogelijkheden van een AI-systeem voor beeldherkenning. Je leert de beperkingen ervan kennen en hoe technische kennis en vaardigheden helpen hen om sommige van die beperkingen succesvol aan te pakken.</p>
      <span class="session-track bolder">Zelflerende AI-systemen in een notendop</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Youri Coppens (AI Lab VUB)</span>
      <p>Krijg een uniek inzicht in de revolutionaire wereld van AI tijdens deze workshop over reinforcement learning! Herinner je je nog hoe je als kind leerde fietsen? Met vallen en opstaan heb je geleerd hoe je je balans kunt behouden en trappen. Met AI kunnen machines ook leren en zichzelf verbeteren door middel van reinforcement learning. Dit is de technologie die autonome voertuigen in staat stelt om te navigeren op de weg en ervoor zorgt dat computers het spel Go kunnen spelen op het niveau van een wereldkampioen. In onze workshop zul je de kracht van reinforcement learning zelf kunnen ervaren door interactieve demos en oefeningen.</p>
      <span class="session-track bolder">ChatGPT</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Thomas Demeester (UGent IDLAb)</span>
      <p>Hoe zit het nu echt met ChatGPT?</p>
      <span class="session-track bolder">STEM-project AI in de Zorg (AI Op School): computationeel denken en algoritmen in de zorgsector</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Natacha Gesquière (UGent)</span>
      <p>Artificieel intelligente systemen a.d.h.v. beslissingsbomen worden omwille van hun transparantie veel aangewend in de zorgsector. Hoe wordt zo'n beslissingsboom ontwikkeld? In deze workshop wordt computationeel gedacht en wordt de wiskunde achter het systeem blootgelegd. Je maakt ook kennis met wat het project biedt afhankelijk van finaliteit (doorstroom, dubbele, arbeidsmarkt). </p>
      <span class="session-track bolder">AI & Kunst &lt;Bepaal waarde&gt;</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Robbe Wulgaert (Sint-Lievenscollege Gent)</span>
      <p>Ontdek de fascinerende wereld van AI-gegenereerde kunst in onze interactieve workshop die is ontworpen voor leerkrachten en leerlingen van middelbare scholen. Laat je creativiteit de vrije loop door te leren hoe je geavanceerde AI-tools kunt integreren in jouw kunstcurriculum, waardoor een unieke mix van artistieke expressie, ontwerp en technologische bekwaamheid ontstaat. Verken ethische overwegingen en bespreek de impact en waarde van AI en gegenereerde kunst, om te komen tot een goed begrip van deze revolutionaire technologie.</p>
      <span class="session-track bolder">Amai! project</span>
      <span class="bolder"> - </span>
      <span class="session-presenter bolder">Karen Verstraelen (Scivil)</span>
      <p>Wat is AI, en hoe kan ik er op een toegankelijke manier mee aan de slag in de klas? In deze workshop volg je een basisvorming rond AI en kom je het te weten! Leid je leerlingen binnen in de wereld van AI aan de hand van voorbeelden van AI-toepassingen uit hun leefwereld en laat ze nadenken over ethiek en bias van AI. Leer hen kritisch omgaan met deze technologie die onlosmakelijk met hun dagelijkse leven verbonden is.</p>
   </div>

   <h3 class="time-slot mt-4">17.20 - 18.00</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Plenaire slotsessie</a></h4>
   </div>
   
   <h3 class="time-slot mt-4">18.00 - 19.30</h3>
   <div class="session session-5 track-1">
      <h4 class="session-title"><a href="#">Receptie en netwerkmoment</a></h4>
   </div>
</div> <!-- end .schedule -->
   <!-- https://css-tricks.com/building-a-conference-schedule-with-css-grid/ -->

