
<!-- Leerlijn 1 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="/kiks">
                <h3>{% t curricula_page.curriculum_1_title %}</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t curricula_page.curriculum_1_description %}</p>
                    <p class="text-justify">{% t curricula_page.curriculum_1_contact: ""
                        %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t curricula_page.curriculum_1_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>

<!-- Leerlijn 2 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="/socialrobot">
                <h3>{% t curricula_page.curriculum_2_title %}</h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t curricula_page.curriculum_2_description %}</p>
                    <p class="text-justify">{% t curricula_page.curriculum_2_contact %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t curricula_page.curriculum_2_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>


