
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign date_time_format = "%b %-d, %Y: %R" -%}
{%- assign time_format = "%R" -%}

<div class="calendar">
    
    <h2 class="event-list-heading">{% t calendar %}</h2>

    <div class="book_us">
        <h3><a href="/shop">{% t calendar_page.boek_ons %}</a></h3>
    </div>

    {% assign sorted_events = include.events | sort: 'date' | where: "language", site.lang %}
    {% assign sorted_events_reverse = include.events | sort: 'date' | reverse | where: "language", site.lang %}
    {%- if sorted_events.size > 0 -%}
    <ul class="event-list">
      {%- for event in sorted_events -%}
            <li class="event-list-item event-list-item-global" data-event-date="{{ event.date }}" itemscope itemtype="https://schema.org/Event">
                <span class="event-item-logo">
                    <span class="icon_container">
                        <span class="material-symbols-outlined md-48">calendar_month</span>
                    </span>
                    <span class="event-item-logo-date event-meta" itemscope itemtype="https://schema.org/startDate">{{ event.date | date: date_format }}</span>
                </span>
                <span class="event-item-content-container">
                    <div class="event-item-header">
                        <h3 id="{{ event.anchor | '' }}">{{ event.title | escape }} <a href="#{{ event.anchor | '' }}"><span class="material-symbols-outlined md-48">link</span></a></h3>
                        
                    </div>
                    
                    {{ event.content }}
                    <span id="event-footer">
                        {%- if event.registration_link and event.registration_link != "" and event.registration_link != nil -%}
                            <span class="footer-event-registration-link nowrap">
                                <a href="{{ event.registration_link }}" target="_blank"><button class="btn simulator register"><strong>{% t calendar_page.register %}</strong></button></a>
                            </span>
                            
                        {%- endif -%}
                        <span class="footer-filler" style="flex-grow: 1"></span>
                        <span class="footer-event-date-info nowrap">
                            <span class="material-symbols-outlined md-48">calendar_month</span>
                            <span class="event-item-date event-item-start-date">{{ event.date | date: date_time_format }}</span>
                            <span class="event-date-separator-dash">-</span>
                            <span class="event-item-date event-item-end-date">{{ event.end_date | date: time_format }}</span>
                        </span>
                        <span class="footer-event-location-info nowrap">
                            {%- if event.location == "online" -%}
                                    <span class="material-symbols-outlined md-48">location_on</span>
                                    <span itemscope itemtype="https://schema.org/location">{% t calendar_page.online %}</span>
                            {%- else -%}
                                    <span class="material-symbols-outlined md-48">location_on</span>
                                    {%- if event.location_link and event.location_link != "" and event.location_link != nil -%}
                                        <a href="{{ event.location_link }}" target="_blank" itemscope itemtype="https://schema.org/location">
                                    {%- endif -%}
                                    <span>{{ event.location }}</span>
                                    {%- if event.location_link and event.location_link != "" and event.location_link != nil -%}
                                        </a>
                                    {%- endif -%}
                            {%- endif -%}
                        </span>
                    </span>
                </span>
                <span class="event-item-theme-logo">
                    <img src="{{ event.item_theme_logo_url }}" />
                </span>
            </li>
      {%- endfor -%}

            <!-- This is hacky to add the items again. However, it is required to show upcoming items in order and past items in reverse order. -->
      {%- for event in sorted_events_reverse -%}
      <!-- Hide all these items by default, use javascript to show the items past older than the current date -->
            <li class="event-list-item-old event-list-item-global" style="display:none" data-event-date="{{ event.date }}" itemscope itemtype="https://schema.org/Event">
                <span class="event-item-logo">
                    <span class="icon_container">
                        <span class="material-symbols-outlined md-48">calendar_month</span>
                    </span>
                    <span class="event-item-logo-date event-meta" itemscope itemtype="https://schema.org/startDate">{{ event.date | date: date_format }}</span>
                </span>
                <span class="event-item-content-container">
                    <h3 id="{{ event.anchor | '' }}">
                        {{ event.title | escape }} <a href="#{{ event.anchor | '' }}">
                    </h3>
                    {{ event.content }}
                    <span id="event-footer">
                        <span class="footer-event-date-info nowrap">
                            <span class="material-symbols-outlined md-48">calendar_month</span>
                            <span class="event-item-date event-item-start-date">{{ event.date | date: date_time_format }}</span>
                            <span class="event-date-separator-dash">-</span>
                            <span class="event-item-date event-item-end-date">{{ event.end_date | date: time_format }}</span>
                        </span>
                        <span class="footer-event-location-info nowrap">
                            {%- if event.location == "online" -%}
                                    <span class="material-symbols-outlined md-48">location_on</span>
                                    <span itemscope itemtype="https://schema.org/location">{% t calendar_page.online %}</span>
                            {%- else -%}
                                    <span class="material-symbols-outlined md-48">location_on</span>
                                    {%- if event.location_link and event.location_link != "" and event.location_link != nil -%}
                                        <a href="{{ event.location_link }}" target="_blank" itemscope itemtype="https://schema.org/location">
                                    {%- endif -%}
                                    <span>{{ event.location }}</span>
                                    {%- if event.location_link and event.location_link != "" and event.location_link != nil -%}
                                        </a>
                                    {%- endif -%}
                            {%- endif -%}
                        </span>
                    </span>
                </span>
                <span class="event-item-theme-logo">
                    <img src="{{ event.item_theme_logo_url }}" />
                </span>
            </li>
        {%- endfor -%}


    </ul>
    {%- else -%}
        <span id="event-list-no-events">{% t calendar_page.no_events %}</span>
    {%- endif -%}
    <a id="event-show-past-events" style="display:none">{% t calendar_page.past_events %}</a>
  
</div>

<script defer>
    let calendar_items = document.getElementsByClassName("event-list-item");
    let past_events = false;
    Array.from(calendar_items).forEach((element) => {
        // Weird string manipulation to make it work in safari
        let event_date_string = element.getAttribute("data-event-date");
        // Replace first space with T to make it a valid date string
        event_date_string = event_date_string.replace(" ", "T");
        // Remove second space
        event_date_string = event_date_string.replace(" ", "");
        if (Date.parse(event_date_string) < new Date().valueOf()){
            element.style.display = "none";
            past_events = true;
        }
    });

    // Show "past events link when there are past events"
    if (past_events){
        document.getElementById("event-show-past-events").style.display = "flex";
    }

    // Show all elements when link is clicked
    document.addEventListener("click", (e) => {
        e = e || window.event;
        let target = e.target || e.srcElement;
        if (target.getAttribute("id") == "event-show-past-events"){
            let old_calendar_items = document.getElementsByClassName("event-list-item-old");
            Array.from(old_calendar_items).forEach((element) => {
                let old_event_date_string = element.getAttribute("data-event-date");
                // Replace first space with T to make it a valid date string
                old_event_date_string = old_event_date_string.replace(" ", "T");
                // Remove second space
                old_event_date_string = old_event_date_string.replace(" ", "");
                if (Date.parse(old_event_date_string) < new Date().valueOf()){
                    element.style.display = "flex";
                }
            });
            target.style.display = "none" // Hide more events link
        }
        
    }, false);
</script>