


<div class="calendar">
    {%- if include.events.size > 0 -%}
    <h2 class="event-list-heading">{% t calendar %}</h2>
    <ul class="event-list">
    {% assign sorted_events = include.events | sort: 'date' | reverse %}
      {%- for event in sorted_events -%}
      <li class="event-list-item" >
        <span class="event-item-logo">
            <span class="icon_container">
                <span class="material-symbols-outlined md-48">calendar_month</span>
            </span>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="event-item-logo-date event-meta">{{ event.date | date: date_format }}</span>
        </span>
        <span class="event-item-content-container">
            <h3>
                {{ event.title | escape }}
            </h3>
            {{ event.content }}
            <span class="event-item-date-info">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="event-item-logo-date event-meta">{{ event.date | date: date_format }}</span>
            </span>
        </span>
        <span class="event-item-theme-logo">
            <img src="{{ event.item_theme_logo_url }}" />
        </span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
