<footer class="lang-options">
    <!-- Copyright -->
        <div class="wrapper">
            <div class="row pt-5 pb-2" >
                <div class="col-md-3 col-sm-3 col-xs-12">
                    
                    <div class="row mb-3">
                            <img src="/images/logos/dwengo-groen-zwart.svg" class="img-fluid" alt="Dwengo logo" width="124" height="50">
                    </div>
                    <div class="row justify-content-end mr-3">
                        <h5>{% t footer.follow %}</h5>
                    </div>
                    <div class="row justify-content-end mr-3">
                        <a href="https://twitter.com/dwengo"><img src="/images/footer/twitter.png" class="social" width="64" height="64"></a>
                        <a href="https://www.facebook.com/dwengo"><img src="/images/footer/facebook.png" class="social" width="64" height="64"></a>
                        <a href="https://www.youtube.com/user/Dwengovzw"><img src="/images/footer/youtube.png" class="social" width="64" height="64"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h5>{% t footer.contact %}</h5>
                    <p>
                        {% t footer.address_line_1 %}<br>
                        {% t footer.address_line_2 %}<br>
                        {% t footer.address_line_3 %}<br>
                        {% t footer.country %}
                    </p>
                    <p>{% t footer.vat_number %}</p> 
                    <p>
                        <a href="mailto:info@dwengo.org" class="footer">{% t footer.email %}</a><br>
                    </p>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                </div>
            </div>
            <div class="row pt-2 pb-2">
                <div class="col-12 text-center">
                    © 2021 Copyright:
                    <a href="https://dwengo.org">Dwengo</a>
                </div>
            </div>
        </div>
    
    <!-- Copyright -->
</footer>
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<!--Fix for jquery pagespeed insights error: "Does not use passive listeners to improve scrolling performance"-->
<script>
    jQuery.event.special.touchstart = {
        setup: function( _, ns, handle ) {
            this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
    jQuery.event.special.touchmove = {
        setup: function( _, ns, handle ) {
            this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
    jQuery.event.special.wheel = {
        setup: function( _, ns, handle ){
            this.addEventListener("wheel", handle, { passive: true });
        }
    };
    jQuery.event.special.mousewheel = {
        setup: function( _, ns, handle ){
            this.addEventListener("mousewheel", handle, { passive: true });
        }
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src={{ "/js/jquery-range.js" | relative_url }}></script>
<script src={{ "/js/url_mapping.js" | relative_url }}></script>
<script src={{ "/js/learning_paths.js" | relative_url }}></script>
<script src="{{ "/js/prism/prism.js" | relative_url }}"></script>
<script>
    Prism.plugins.NormalizeWhitespace.setDefaults({
        'remove-trailing': true,
        'remove-indent': true,
        'left-trim': true,
        'right-trim': true,
        'tabs-to-spaces': 4
    })
</script>
{% include cookie-consent.html %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
