<div class="frontpage_banner" style="background-image: url({{ include.banner_url }})"></div>
<section id="strengths" class="section">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 bg-white aiops-over-banner q-pt-xl q-px-xl home_info_pane">
                    {%- include frontpage_header_content_single_logo.html 
                        project_logo_url=include.project_logo_url 
                        paragraph1=include.paragraph1 
                        paragraph2=include.paragraph2 
                        paragraph3=include.paragraph3 
                        intro_title=include.intro_title-%}
                </div>
            </div>
        </div>
    </div>
</section>