<header class="site-header bg-light" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {% if site.lang == "nl" %}
      {% capture lang_prefix %}{{ "" }}{% endcapture %}
    {% else %}
      {% capture lang_prefix %}{{ site.lang }}/{% endcapture %}
    {% endif %}
    {%- if page_paths -%}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      {% if site.lang == "en" %}
      <a class="navbar-brand" href="/en">
        <img id="dwengo_logo_image" src="/images/logos/dwengo-groen-zwart.svg" width="124" height="50" alt="">
      </a>
      {% elsif site.lang == "nl" %}
      <a class="navbar-brand" href="/">
        <img id="dwengo_logo_image" src="/images/logos/dwengo-groen-zwart.svg" width="124" height="50" alt="">
      </a>
      {% elsif site.lang == "de" %}
      {% capture link3 %}{{ site.baseurl_root }}/de{% endcapture %}
      <a class="navbar-brand" href="/de">
        <img id="dwengo_logo_image" src="/images/logos/dwengo-groen-zwart.svg" width="124" height="50" alt="">
      </a>
      {% elsif site.lang == "fr" %}
      {% capture link4 %}{{ site.baseurl_root }}/fr{% endcapture %}
      <a class="navbar-brand" href="/fr">
        <img id="dwengo_logo_image" src="/images/logos/dwengo-groen-zwart.svg" width="124" height="50" alt="">
      </a>
      {% endif %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              {% if site.lang == "nl" %}
                {% if page.url == my_page.url %}
                  <li class="nav-item active">
                    <a class="nav-link active" href="{{ my_page.url | relative_url }}">{% t my_page.title %}</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ my_page.url | relative_url }}">{% t my_page.title %}</a>
                  </li>
                {% endif %}
              {% else %}
                {% assign url_with_lang = '/' | append: site.lang | append: my_page.url %}

                {% if page.url == my_page.url %}
                  <li class="nav-item active">
                    <a class="nav-link active" href="/{{site.lang}}{{ my_page.url | relative_url }}">{% t my_page.title %}</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/{{site.lang}}{{ my_page.url | relative_url }}">{% t my_page.title %}</a>
                  </li>
                {% endif %}
              
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <li id="nav-language-selection" class="dropdown nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="/images/language_icon/icon20x24px-exported-transparent.png" width="20px" height="24px" />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% capture link1 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
              <a class="dropdown-item" href="{{ link1 }}">English</a>

              {% capture link2 %}{{ site.baseurl_root }}/fr{{ page.url }}{% endcapture %}
              <a class="dropdown-item" href="{{ link2 }}">français</a>

              {% capture link3 %}{{ site.baseurl_root }}/de{{ page.url }}{% endcapture %}
              <a class="dropdown-item" href="{{ link3 }}">Deutsch</a>

              {% capture link4 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
              <a class="dropdown-item" href="{{ link4 }}">Nederlands</a>

            </div>
          </li>
        </ul>
      </div>
      <span class="header_button_container">
        <a href="/{{lang_prefix}}shop" class="btn simulator" role="button" aria-disabled="true">{% t global.shop %}</a>
        <a href="/{{lang_prefix}}donate" class="btn simulator" role="button" aria-disabled="true">{% t global.donate %}</a>
        <a href="https://blockly.dwengo.org" class="btn simulator" target="_blank" role="button" aria-disabled="true">{% t global.simulator %}</a>
      </span>
      
    </nav>
    {%- endif -%}
  </div>
</header>
