<section id="strengths" class="section">
    <div class="bg-white">
        <div class="aiops__banner" style="background-image: url(/images/kiks/kiks-banner.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 bg-white aiops-over-banner q-pt-xl q-px-xl kiks_info"><a href="/kiks/"><img
                            src="/images/kiks/LogoKIKS.png" class="float-right kiks-logo-right"></a>
                    <h4 class="q-mt-none">KIKS</h4>
                    <div class="marked catchphrase-first">
                        <p>KIKS is een STEM-project rond artificiële intelligentie (AI) voor de derde graad secundair
                            onderwijs. Leerlingen leren AI begrijpen, met mogelijkheden en beperkingen; ze leren hoe ze
                            er een impact kunnen op hebben.</p>
                        <p>De relatie tussen huidmondjes (stomata) van planten en de klimaatverandering biedt een uniek
                            kader om met diepe neurale netwerken aan de slag te gaan. De programmeertaal Python is
                            bovendien zeer toegankelijk als tool om de fundamenten van neurale netwerken te bestuderen.
                        </p>
                        <p>Een troef van het KIKS-project is de samenwerking tussen onderzoekers en leerkrachten. Het
                            lesmateriaal van KIKS wordt immers ontwikkeld, parallel met de resultaten van een lopend
                            wetenschappelijk onderzoek aan de UGent en de Plantentuin Meise.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>