<div class="container kiks-research">
    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <h6 class="kiks_subtitle">Het wetenschappelijk onderzoek</h6>
             <div class="marked">
                <p>Wetenschappers van de Plantentuin Meise en de UGent onderzoeken <strong>hoe bomen uit het tropisch regenwoud zich aanpassen aan de klimaatverandering</strong>. De stomata op hun bladeren verschaffen informatie over de CO<sub>2</sub>-concentratie in de atmosfeer ten tijde van de groei van de planten. De onderzoekers <strong>tellen</strong> het aantal stomata op de bladeren en ze <strong>meten</strong> hun grootte op. Erna vergelijken ze de resultaten van recent materiaal met die van materiaal van honderd jaar terug.</p>
                <p>Het tellen en meten van stomata is echter een heel tijdrovende bezigheid. Om dit te <strong>automatiseren</strong>, heeft een computerwetenschapper van de UGent <strong>een neuraal netwerk getraind</strong>. Om zo’n netwerk te trainen zijn veel voorbeelden nodig: foto’s van stomata en foto’s van bladeren zonder stomata.</p>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/kiks/onderzoek_q1MYTWG.png" class="full-width"></div>
       </div>
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/klimaat.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">Klimaat</h6>
             <p>Sinds het begin van de industriële revolutie (1750) is de concentratie van broeikasgassen in onze atmosfeer sterk toegenomen. Dit versterkt het natuurlijk broeikaseffect. De laag met broeikasgassen in de atmosfeer fungeert als een soort deken, dat dikker wordt naarmate de hoeveelheid broeikasgassen toeneemt. Bijgevolg wordt het onder het deken warmer omdat de warmte steeds moeilijker van onder het deken kan ontsnappen naar de ruimte. De verhoogde concentratie van broeikasgassen in de atmosfeer resulteert in een verhoging van de gemiddelde temperatuur en een globale klimaatverandering.</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/stomata.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">Stomata</h6>
             <p>Planten zijn in staat om zelf de energierijke koolstofverbindingen op te bouwen die ze nodig hebben om te leven, te groeien en zich te kunnen reproduceren. Ze doen dit via fotosynthese. Hiervoor moet de plant CO2 opnemen. Om die opname mogelijk te maken, zijn er microscopisch kleine poortjes in de opperhuid van het blad, de huidmondjes (stomata). De huidmondjes staan ook in voor afkoeling van de plant en het onderhouden van de sapstroom van wortel tot hoog in de plant.</p>
             <p>Uit de paleoklimatologie blijkt dat de stomatale grootte en dichtheid beïnvloed worden door de atmosferische CO<sub>2</sub>-concentratie.</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/ai.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">AI</h6>
             <p>Diepe neurale netwerken zijn een vorm van machinaal leren, en behoren dus tot het domein van de artificiële intelligentie. Convolutionele neurale netwerken zijn uitermate geschikt om huidmondjes op microfoto's te herkennen.</p>
             <p>Aan de hand van Python notebooks verkennen we stap voor stap deze wondere wereld. Leerlingen krijgen inzicht in de fundamenten van artificiële intelligentie. Maar er komen ook praktische zaken bij kijken, zoals het verzamelen en voorbereiden van de dataset.</p>
          </div>
       </div>
       <div class="row q-col-gutter-xl q-my-xl">
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://player.vimeo.com/video/376789447" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://player.vimeo.com/video/399947294" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://www.youtube.com/embed/dO-E33G20co" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>
       </div>
    </div>
 </div>