<h3 class="fp_subtitle">{% t kiks.title %}</h3>
<div class="container kiks-research cover-width">
    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <div class="marked">
                <p>{% t kiks.titlep1 %}</p>
                <p>{% t kiks.titlep2 %}</p>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/kiks/onderzoek_q1MYTWG.png" class="full-width"></div>
       </div>
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/klimaat.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t kiks.subtitle1 %}</h6>
             <p>{% t kiks.subtitle1p1 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/stomata.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t kiks.subtitle2 %}</h6>
             <p>{% t kiks.subtitle2p1 %}</p>
             <p>{% t kiks.subtitle2p2 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/kiks/ai.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t kiks.subtitle3 %}</h6>
             <p>{% t kiks.subtitle3p1 %}</p>
             <p>{% t kiks.subtitle3p2 %}</p>
          </div>
       </div>
       <div class="row q-col-gutter-xl q-my-xl">
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://player.vimeo.com/video/376789447" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://player.vimeo.com/video/399947294" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>-
          <div class="col-12 col-md">
             <div class="rounded-borders q-video q-video--responsive"><iframe src="https://www.youtube.com/embed/dO-E33G20co" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
          </div>
       </div>
    </div>
 </div>