
<div id="learning_path" class="container">

    <div class="row">
        <nav class="navbar navbar-light d-md-none" style="width: 100%;">
            <button class="navbar-toggler" style="width: 100%;" type="button" data-toggle="collapse"
                data-target="#toggleSidebar" aria-controls="toggleSidebar" aria-expanded="false"
                aria-label="Toggle navigation">
                <h4 class="d-inline lp_title"></h4>
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        
        <div class="col-12 col-md-3 collapse d-md-block" aria-expanded="false" id="toggleSidebar">
            <div class="row d-none d-md-block">
                <div class="col">
                    <h5 class="lp_title">
                    </h5>
                    <button id="print_lp" class="btn col mt-3 mb-3" type="button">{% t learning_path_page.print_learning_path %}</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="lp_visualisation" class="list-group ml-0"></ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div id="lo_content"></div>
            <div class="row">
                <button id="btn_previous_lo" class="btn btn-outline-secondary col m-3 invisible"
                    type="button">{% t learning_path_page.btn_previous %}</button>
                <button id="btn_next_lo" class="btn btn-outline-primary col m-3" type="button">{% t learning_path_page.btn_next %}</button>
                <a id="btn_to_lp" href="{{ site.frontend-url }}#lp-section" class="text-primary btn btn-outline-primary col m-3" type="button" style="display: none;">{% t learning_path_page.btn_to_lp %}</a>
            </div>
        </div>
    </div>
</div>