<section id="lp_section" class="section">
    <h3>{% t learning_paths.title %}</h3>

    <div class="row">
        <div class="col-9">
            <input type="text" class="form-control" id="filter_input"
                placeholder="{% t learning_paths.filter_placeholder %}">
        </div>
        <div class="col-3">
            <select class="form-control" id="language_select">
            </select>
        </div>
    </div>
    <div id="lp_error_message" class="row d-none">
        <p class="text-danger col-12 py-4 ">{% t learning_paths.error_message %}
        </p>
    </div>

    <div id="learning_paths" class="row">

    </div>
</section>
