
<!-- Project 1 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t projects_page.project_1_title %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t projects_page.project_1_description %}</p>
                    <p class="text-justify">{% t projects_page.project_1_contact %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t projects_page.project_1_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>

<!-- Project 2 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t projects_page.project_2_title %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t projects_page.project_2_description %}</p>
                    <p class="text-justify">{% t projects_page.project_2_contact %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t projects_page.project_2_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>

<!-- Project 3 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t projects_page.project_3_title %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t projects_page.project_3_description %}</p>
                    <p class="text-justify">{% t projects_page.project_3_contact %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t projects_page.project_3_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>

<!-- Project 4 -->
<section class="section mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{% t projects_page.project_4_title %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="text-justify">{% t projects_page.project_4_description %}</p>
                    <p class="text-justify">{% t projects_page.project_4_contact %}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="iframe-container iframe-16-9">
                <iframe width="560" height="315" src="{% t projects_page.project_4_teaser %}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
</section>
