<h1>{% t shop.title %}</h1>

<p>{% t shop.intro %}</p>

<h2>{% t shop.products_title %}</h2>

{%- for p in site.translations[site.lang].shop.products -%}
<h3 class="shop_product_title">{{ p.title }}</h3>
<p>{{ p.desc }}</p>

<div><img class="shop_image" src="{{p.image}}"/></div>

{%- if p.items -%}
<p>{{ p.content }}</p>
<ul>
{%- for item in p.items -%}
    <li>{{ item }}</li>
{%- endfor -%}
</ul>
{%- endif -%}
<p>{% t shop.price %}: {{ p.price}}</p>
<p>
    {{ p.price_extra_info }}
</p>
{%- endfor -%}
