<div class="container">
<!-- video -->
   <div class="row q-col-gutter-xl q-my-xl">
      <div class="col-12 col-md">
         <div class="iframe-container iframe-16-9">
            <iframe width="1056" height="594" src="https://www.youtube.com/embed/EsYs4k41U6w" title="Sociale robot" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>
   </div>

<!-- deliverables -->
   <h4 class="dummy_title">{% t socialrobot.title1 %}</h4>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/placeholder_design.png" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t1_subtitle1 %}</h5>
         <p>{% t socialrobot.t1_p1 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/logo_simulator.png" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t1_subtitle2 %}</h5>
         <p>{% t socialrobot.t1_p2 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/placeholder_robot.png" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t1_subtitle3 %}</h5>
         <p>{% t socialrobot.t1_p3 %}</p>
      </div>        
   </div>

<!-- objectives & goals-->
   <h4 class="dummy_title">{% t socialrobot.title2 %}</h4>
   <p>{% t socialrobot.title2_p %}</p>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/onderzoek.png" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t2_subtitle1 %}</h5>
         <p>{% t socialrobot.t2_p1 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/SR_ct.png" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t2_subtitle2 %}</h5>
         <p>{% t socialrobot.t2_p2 %}</p>
      </div>        
   </div>
   <div class="d-flex">
      <img src="/assets/images/socialrobot/SR_pot.svg" class="dummy_icon dummy_icon-max">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t2_subtitle3 %}</h5>
         <p>{% t socialrobot.t2_p3 %}</p>
      </div>        
   </div>
   
<!-- technical details-->
   <h4 class="dummy_title">{% t socialrobot.title3 %}</h4>
   <p>{% t socialrobot.title3_p %}</p>
<!--   <div class="d-flex">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t3_subtitle1 %}</h5>
      </div>        
   </div>
   <div class="d-flex">
      <div>
         <h5 class="dummy_subtitle">{% t socialrobot.t3_subtitle2 %}</h5>
      </div>        
   </div>
-->
</div>