<section class="section">
    <h1>{% t strengths.title %}</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <p><img src="/images/strengths/value-innovation.png" alt="Innovatief" class="values" /></p>
            <p><strong>{% t strengths.innovative %}</strong></p>
            <p>{% t strengths.innovative_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <p><img src="/images/strengths/value-research.png" alt="Innovatief" class="values" /></p>
            <p><strong>{% t strengths.research_based %}</strong></p>
            <p>{% t strengths.research_based_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <p><img src="/images/strengths/value-inclusion.png" alt="Innovatief" class="values" /></p>
            <p><strong>{% t strengths.inclusive %}</strong></p>
            <p>{% t strengths.inclusive_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <p><img src="/images/strengths/value-society.png" alt="Innovatief" class="values" /></p>
            <p><strong>{% t strengths.socially_relevant %}</strong></p>
            <p>{% t strengths.socially_relevant_text %}</p>
        </div>
    </div>
    <blockquote class="blockquote">
        <p>{% t strengths.quote.text %}</p>
        <div class="person blockquote-footer">
            <p class="name">{% t strengths.quote.name %}</p>
            <p class="affiliation">{% t strengths.quote.affiliation %}</p>
        </div>
    </blockquote>
    
</section>
