<section id="strengths" class="section">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 strength-container">
            <p><img src="/images/strengths/value-innovation.png" alt="Innovatief" class="values" width="500" height="auto"/></p>
            <p><strong>{% t strengths.innovative %}</strong></p>
            <p>{% t strengths.innovative_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 strength-container">
            <p><img src="/images/strengths/value-research.png" alt="Research-based" class="values" width="500" height="auto"/></p>
            <p><strong>{% t strengths.research_based %}</strong></p>
            <p>{% t strengths.research_based_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 strength-container">
            <p><img src="/images/strengths/value-inclusion.png" alt="Inclusive" class="values" width="500" height="auto"/></p>
            <p><strong>{% t strengths.inclusive %}</strong></p>
            <p>{% t strengths.inclusive_text %}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 strength-container">
            <p><img src="/images/strengths/value-society.png" alt="Socially relevant" class="values" width="500" height="auto"/></p>
            <p><strong>{% t strengths.socially_relevant %}</strong></p>
            <p>{% t strengths.socially_relevant_text %}</p>
        </div>
    </div>    
</section>
