<div class="container">
<!-- video -->
   <div class="row q-col-gutter-xl q-my-xl">
      <div class="col-12 col-md">
         <div class="iframe-container iframe-16-9">
            <iframe width="1056" height="594" src="https://www.youtube.com/embed/k6lOACXTaCQ" title="Sociale robot" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>
   </div>

<!-- deliverables -->
   <h1 class="project_title">{% t wedstrijd_sr.title1 %}</h1>
      <p>{% t wedstrijd_sr.t1p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title2 %}</h1>
      <p>{% t wedstrijd_sr.t2p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title3 %}</h1>
      <p>{% t wedstrijd_sr.t3p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title4 %}</h1>
      <p>{% t wedstrijd_sr.t4p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title5 %}</h1>
      <p>{% t wedstrijd_sr.t5p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title6 %}</h1>
      <p>{% t wedstrijd_sr.t6p1 %}</p>

   <h1 class="project_title">{% t wedstrijd_sr.title7 %}</h1>
      <p>{% t wedstrijd_sr.t7p1 %}</p>

</div>