<h3 class="fp_subtitle">{% t wegostem.title %}</h3>
<div class="container kiks-research cover-width">
    <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-xl items-center justify-between">
          <div class="col-12 col-md-8 col-lg-7">
             <div class="marked">
                <p>{% t wegostem.titlep1 %}</p>
                <p>{% t wegostem.titlep2 %}</p>
                <p>{% t wegostem.titlep3 %}</p>
                <br>
             </div>
          </div>
          <div class="col-12 col-md-4 text-center"><img src="/assets/images/wegostem/spirograaf.png" class="full-width" width="200" height="200"></div>
       </div>
       
<!--       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_pot.svg" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t wegostem.subtitle1 %}</h6>
             <p>{% t wegostem.subtitle1p1 %}</p>
             <p>{% t wegostem.subtitle1p2 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_simulator.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t wegostem.subtitle2 %}</h6>
             <p>{% t wegostem.subtitle2p1 %}</p>
             <p>{% t wegostem.subtitle2p2 %}</p>
          </div>
          <div class="col-12 col-md-4">
             <img src="/assets/images/socialrobot/SR_ct.png" class="icon-max q-mb-lg q-ml-lg float-right">
             <h6 class="q-mt-none bolder">{% t wegostem.subtitle3 %}</h6>
             <p>{% t wegostem.subtitle3p1 %}</p>
             <p>{% t wegostem.subtitle3p2 %}</p>
             <p>{% t wegostem.subtitle3p3 %}</p>
          </div>
       </div>
       <div class="row q-col-gutter-xl q-my-xl">
             <div class="col-12 col-md">
               <div class="iframe-container iframe-16-9">
                  <iframe width="1056" height="594" src="https://www.youtube.com/embed/5zK8zEZL7rk" title="WeGoSTEM - School year 2020-2021" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
             </div>
       </div>-->
    </div>   
</div>

<h3 class="fp_subtitle">{% t wegostem.title2 %}</h3>
<div class="container kiks-research cover-width">
   <div class="q-px-xl q-pb-xl">
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
          <div class="col-12 col-md-4">
             <h6 class="q-mt-none bolder">Hasselt</h6>
             <p><a href="https://bibliotheek.hasselt.be/provincielimburg.net?id=75442">Reserveer hier</a><br>Bibliotheek Hasselt Limburg<br>Martelarenlaan 17<br>3500 Hasselt</p>
          </div>
          <div class="col-12 col-md-4">
            <h6 class="q-mt-none bolder">Leuven</h6>
            <p><a href="https://leuven.bibliotheek.be/wegostem?theme=795">Reserveer hier</a><br>Bib Kessel-Lo<br>Stadionlaan 4<br>3010 Kessel-Lo</p>
          </div>
          <div class="col-12 col-md-4">
            <h6 class="q-mt-none bolder">Brussel</h6>
            <p><a href="https://muntpunt.be/bibliotheek/en/catalog/we-go-stem/board-game/wise-brussel_3888012">Reserveer hier</a><br>Muntpunt<br>Munt 6<br>1000 Brussel</p>
          </div>
       </div>
       <div class="row q-col-gutter-y-lg q-col-gutter-x-xl text-body2 q-mt-lg q-mb-xl">
         <div class="col-12 col-md-4">
            <h6 class="q-mt-none bolder">Kortrijk</h6>
            <p><a href="https://kortrijk.bibliotheek.be/catalogus/we-go-stem/spel/wise-westvlaanderen_3888012">Reserveer hier</a><br>Manon Vergote - Jurgen van Lerberghe<br>Konventstraat 1<br>8500 Kortrijk</p>
         </div>
         <div class="col-12 col-md-4">
           <h6 class="q-mt-none bolder">Gent</h6>
           <p><a href="https://forms.office.com/e/sSx4Uq6gaf">Reserveer hier</a><br>Miriam Makebaplein 1<br>9000 Gent</p>
         </div>
         <div class="col-12 col-md-4">
           <h6 class="q-mt-none bolder">Brugge</h6>
           <p><a href="https://brugge.bibliotheek.be/basisonderwijs">Reserveer hier</a><br>Bibliotheek Xaverianen<br>Xaverianenstraat 13/002<br>8200 Sint-Michiels (Brugge)</p>
         </div>
      </div>
    </div>
 </div>