.logo-right {
    max-width: 90px;
    max-height: 80px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.float-right {
    float: right;
}

.bolder{
    font-weight: bolder;
}

.curricula_page {
    margin-bottom: 5rem;
}