// styles for project page

.dummy_intro p:first-of-type{
    font-weight: 550;
}

.dummy_summary {

}

    // removing margin home_info_pane; problem with @media and padding priorities
.dummy_header_pane { // page title, intro and summary
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 180px;
}


.dummy_title { //how to differ first title from other titles? (seperate top margin)
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dummy_icon {
    margin-right: 15px;
    margin-bottom: 15px;
}

.dummy_substyle {
    width: 100%;
}

.container-image {
    object-fit: cover;
    object-position: center;
  }
  
.dummy_icon-max {
    max-height: 100px;
    max-width: 40%;
}

.dummy_bolder{
    font-weight: 600;
}

.dummy_research{
    font-size: 0.875rem;
    margin-bottom: 48px;
}

.dummy_btn {
    margin-left: 20px;
    color: #1565c0;
    border: 1px solid #1565c0;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 8px;
}

