@charset "utf-8";
@import "/css/bootstrap/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$enable-rounded:   false;
// Define defaults for each variable.

$brand-primary:         #87C544 !default;//darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$base-font-family: "Roboto", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
//$teacher-exclusive-color: hsl(294, 37%, 85%) !default;
//$teacher-exclusive-color: #FFDFD3 !default;
//$teacher-exclusive-color: #E9D3FF !default;
$teacher-exclusive-color-active: #87C544 !default;
$teacher-exclusive-color: #B9DD92 !default;

$lo-color: #ffffff !default;
$lo-color-active: #87C544 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

/* Allow for print-friendly version of learning object page */
@media print {
  body {
    background-image: none;
    overflow-x: hidden;
  }

  body footer {
    display: none;
  }

  body header {
    display: none;
  }

  #btn_previous_lo, #btn_next_lo, #btn_to_lp, #print_lp, .button_lp {
    display: none;
  }

  main::before {
    content: "CC-BY-SA dwengo.org";
    display: block;
    text-align: center;
  }

 

  .wrapper {
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    padding-right: 0px;
    padding-left: 0px;
  }

  .list-group-item {
    padding:0cm!important;
  }


  section.lp-section {
    page-break-after: always!important;
  }

  section:last-child:before {
    page-break-after: avoid!important;
  }

  .lp-section p, ul, img, iframe {
    break-inside: avoid;

  }

  .lp-section h1, h2, h3, h4, h5, strong {
    page-break-after: avoid!important;
  }

  // Responsive iframe
  .iframe-container {
    overflow: hidden;
    position: relative;
  }

  .iframe-16-9 {
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
  }

  .iframe-1-1 {
    padding-top: 100%;
  }

  .iframe-1-2 {
    padding-top: 200%;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .button_lp:hover {
    cursor: pointer;
  }

  .button_lp {
    border: 1px solid transparent;
    background-color: $lo-color;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    padding-left: 0px!important;
    font-size: smaller;
  }

}

html { 
  overflow-x: hidden; 
}

body {
  overflow-x: hidden;
}


.wrapper {
  max-width: -webkit-calc(1300px - (15px * 2))!important;
  max-width: calc(1300px - (15px * 2))!important;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.values {
  padding-left: 1rem;
  padding-right: 1rem;
}

.team-member {
  width: 100%;
  padding: 1rem;
}

img.team-member {
  object-fit: contain; /* Scale the image to contain the foreseen box */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 191px; /* Because some team member photos have a smaller height */
}

.simulator {
  background-color: $brand-primary;
  color: $lo-color;
}

a.simulator{
  color: $lo-color !important;
}

a.simulator:hover{
  color: $text-color !important;
} 

a.footer{
  color: $text-color !important;
}

a.footer:hover{
  color: $text-color !important;
} 

.lighten {
 color: $lo-color;
}

.social {
  width: 40px;
  padding: 5px;
}

.bg-image {
  background-image: url("../images/about/map.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: #3B3B3B;
  margin: 0 -100rem;
  /* add back negative margin value */
  padding: 0.25rem 100rem;
}

.mission {
  background-color: rgba(2,2,2,0.3);
  border-radius: 15px;
}

.mission h3{
  font-size: 38px;
  font-weight: 300;
  text-align: center;
}

.mission h4{
  font-weight: 300;
  text-align: center;
}

.mission p{
  text-align: center;
  letter-spacing: 2px;
}

.commitment h3{
  font-weight: 300;
  text-align: center;
}

.commitment p{
  text-align: center;
}

.number-circle {
  margin: auto;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: $brand-primary;
  border: 2px solid $brand-primary;
  color: $lo-color;
  text-align: center;
}

.team h3{
  text-align: center;
}

.team p{
  text-align: center;
}

.p-counting {
  font-size: 48px;
}

// Responsive iframe
.iframe-container {
  overflow: hidden;
  position: relative;
}

.iframe-16-9 {
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
}

.iframe-1-1 {
  padding-top: 100%;
}

.iframe-1-2 {
  padding-top: 200%;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.button_lp:hover {
  cursor: pointer;
}

.button_lp {
  border: 1px solid transparent;
  background-color: $lo-color;
  text-align: left;
  text-decoration: underline;
  font-style: italic;
  padding-left: 0px!important;
  font-size: smaller;
}

#lp_visualisation .list-group-item {
  background-color: $lo-color;
  border: 1px solid #ced4da;
  cursor: pointer;
}

/*#lp_visualisation .list-group-item.active {
  background-color: $lo-color-active;
  border: 1px solid #ced4da;
  cursor: pointer;
}*/

#lp_visualisation .list-group-item.active {
  color: black;
  //font-weight: bold;
  border: 1px solid #ced4da;
  cursor: pointer;
}


#lp_visualisation .list-group-item.teacher_exclusive {
  background-color: $teacher-exclusive-color;
  border: 1px solid #ced4da;
  cursor: pointer;
}
#lp_visualisation .list-group-item.active span:first-of-type {
  border-left: solid black 4px;
  padding-left: 10px;
}


/*#lp_visualisation .list-group-item.teacher_exclusive.active {
  background-color: $teacher-exclusive-color-active;
  border: 1px solid #ced4da;
  cursor: pointer;
}*/

#lp_visualisation .list-group-item.teacher_exclusive.active {
  background-color: $teacher-exclusive-color;
  color:black;
  border: 1px solid #ced4da;
  //font-weight: bold;
  cursor: pointer;
}

#lp_visualisation .list-group-item span:first-of-type{
  display: inline-block;
  max-width: 86%;
  word-break: break-word;
}


// Fill out text in learning objects
#lo_content p{
  text-align: justify;
  text-justify: inter-word;
}

#learning_paths .card-title {
  height: 20%;
  box-sizing: border-box;
}

#learning_paths .card-text {
  height: 75%;
  box-sizing: border-box;
  overflow: hidden;
  line-clamp: 7;
}

#learning_paths .card-body {
  padding: 15px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#learning_paths .card-body-container {
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}

#learning_paths .card-img-top {
  position: relative;
  top: 0;
}

.age_group_label {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 55px;
  height: 55px;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: white;
  border: solid #e87b66 6px;
  color: #e87b66;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 0.25rem;
}

.age_range_text {
  padding-bottom: 0.25rem;
}

.age_range_icon {
  padding: 0.25rem 0.5rem 0 0.5rem;
  color: #e87b66;
  fill: #e87b66;
}

.blocklyDiv {
  width: 100%;
}

img.values {
  max-width: 75%;
}

.strength-container {
  text-align: center;
}

.keyword {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: solid #ced4da 1px;
  border-radius: 0.25rem;
  display: inline-block;
}

#keyword-container {
  padding: 1em;
}

.keyword:hover {
  cursor: pointer;
}

.slider-container {
  margin-top: 0.5rem;
}

.age-label{
  padding-left: 1rem;
  padding-right: 1rem;
}

.lo_content img {
  width: auto;
}

img {
  //width: 100%;
  height: auto;
}

#dwengo_logo_image{
  max-width: 150px;
}

.card-body-container{
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-img-top{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}


// Styles for AI Op School banner
.frontpage_banner {
  height: 100%;
  width: 100vw;
  right: 0px;
  background-position: top right;
  z-index: -1;
}

@media (min-width: 768px){
  .home_info_pane {
    margin-top: 180px;
  }
  .frontpage_banner{
    max-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -30px;
    position: absolute;
    top: 0px;
  }
}

@media (max-width:768px){
  .home_info_pane {
    margin-top: 115px;
  }
  .frontpage_banner{
    max-height: 250px;
    background-attachment: local;
    background-size: cover;
    position: absolute;
    top: 77px
  }
}

.home_info_pane {
  margin-bottom:40px;
  padding: 20px;
}

.catchphrase-first p:first-of-type {
  font-weight: 550;
  font-size: 1.25rem;
}

.kiks-logo-right{
  max-width: 90px;
  max-height: 80px;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.site-header{
  border-top: none !important;
}

footer {
  background-color: #ccc;
}

.flex-container-partners {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.partner_logo{
  max-width: 140px;
  max-height: 80px;
  margin-top: 48px;
  margin-left: 48px;
}

.fp_subtitle{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#lp_section {
  margin-bottom: 2rem;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
