@charset "utf-8";
@import "/css/bootstrap/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


// Define defaults for each variable.

$brand-primary:         #87C544 !default;//darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$base-font-family: "Roboto", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
//$teacher-exclusive-color: hsl(294, 37%, 85%) !default;
//$teacher-exclusive-color: #FFDFD3 !default;
//$teacher-exclusive-color: #E9D3FF !default;
$teacher-exclusive-color-active: #87C544 !default;
$teacher-exclusive-color: #B9DD92 !default;

$lo-color: #ffffff !default;
$lo-color-active: #87C544 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.team-member {
  width: 100%;
  padding: 1rem;
}

img.team-member {
  object-fit: contain; /* Scale the image to contain the foreseen box */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 191px; /* Because some team member photos have a smaller height */
}

.simulator {
  background-color: $brand-primary;
  color: $lo-color;
}

a.simulator{
  color: $lo-color !important;
}

a.simulator:hover{
  color: $text-color !important;
} 

a.footer{
  color: $text-color !important;
}

a.footer:hover{
  color: $text-color !important;
} 

.lighten {
 color: $lo-color;
}

.social {
  width: 40px;
  padding: 5px;
}

.bg-image {
  background-image: url("../images/about/map.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: #3B3B3B;
  margin: 0 -100rem;
  /* add back negative margin value */
  padding: 0.25rem 100rem;
}

.mission {
  background-color: rgba(2,2,2,0.3);
  border-radius: 15px;
}

.mission h3{
  font-size: 38px;
  font-weight: 300;
  text-align: center;
}

.mission h4{
  font-weight: 300;
  text-align: center;
}

.mission p{
  text-align: center;
  letter-spacing: 2px;
}

.commitment h3{
  font-weight: 300;
  text-align: center;
}

.commitment p{
  text-align: center;
}

.number-circle {
  margin: auto;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: $brand-primary;
  border: 2px solid $brand-primary;
  color: $lo-color;
  text-align: center;

}

.team h3{
  text-align: center;
}

.team p{
  text-align: center;
}

.p-counting {
  font-size: 48px;
}

// Responsive iframe
.iframe-container {
  overflow: hidden;
  position: relative;
}

.iframe-16-9 {
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
}

.iframe-1-1 {
  padding-top: 100%;
}

.iframe-1-2 {
  padding-top: 200%;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#lp_visualisation .list-group-item {
  background-color: $lo-color;
  border-color: $lo-color;
}

#lp_visualisation .list-group-item.active {
  background-color: $lo-color-active;
  border-color: $lo-color-active;
}

#lp_visualisation .list-group-item.teacher_exclusive {
  background-color: $teacher-exclusive-color;
  border-color: $teacher-exclusive-color;
}

#lp_visualisation .list-group-item.teacher_exclusive.active {
  background-color: $teacher-exclusive-color-active;
  border-color: $teacher-exclusive-color-active;
}


/*#lp_visualisation.list-group-item.teacher_exclusive:hover {
  background-color: $teacher-exclusive-color;
  border-color: $teacher-exclusive-color;
}

#lp_visualisation .list-group-item.teacher_exclusive.active {
  background-color: darken($teacher-exclusive-color, 25%);
  border-color: darken($teacher-exclusive-color, 25%);
}*/

// Fill out text in learning objects
#lo_content {
  text-align: justify;
  text-justify: inter-word;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
